## Snippets from SnipMate, taken from
## https://github.com/scrooloose/snipmate-snippets.git

snippet vd "var_dump"
var_dump($${1});
endsnippet

snippet php "php"
<?php 
  ${1} 
?>
endsnippet

snippet phpil "php inline"
<?php ${1} ?>
endsnippet

snippet trans "fuelphp echo"
__(${1})
endsnippet

snippet transs "fuelphp inline echo"
<?= __(${1}); ?>
endsnippet
