## Snippets from SnipMate, taken from
## https://github.com/scrooloose/snipmate-snippets.git

snippet vd "var_dump" w
var_dump($${1});
endsnippet

snippet php "php" w
<?php
  ${1}
?>
endsnippet

snippet phpil "php inline" w
<?php ${1} ?>
endsnippet

snippet trans "fuelphp echo" w
__('${1}')
endsnippet

snippet transs "fuelphp inline echo" w
<?= __('${1}'); ?>
endsnippet

snippet phps "php short" w
<?= ${1}; ?>
endsnippet
